In [44]:
import numpy as np
import pandas as pd

In [8]:
# 2. Retrieve the dataset from this link and assign it to a variable â€˜chipoâ€™.
# Note: You will be using â€˜chipoâ€™ in future exercises in the XP Gold and XP Ninja sections.

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep='\t')

In [6]:
# 3. Display the first 10 rows of â€˜chipoâ€™ using the head() function.

print(chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

In [9]:
# 4. Determine the total number of entries (rows) in â€˜chipoâ€™ using shape or info().
total_rows = chipo.shape[0]
print("Total number of entries (rows) in 'chipo':", total_rows)

Total number of entries (rows) in 'chipo': 4622

In [10]:
# 5. se shape or columns to find the total number of columns in â€˜chipoâ€™.
total_columns = chipo.shape[1]
print("Total number of columns in 'chipo':", total_columns)

Total number of columns in 'chipo': 5

In [11]:
# 6. Use columns to print all the column names.
print("Column names:")
print(chipo.columns)

Column names:
Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [12]:
# 7. Utilize index to understand how the DataFrame is indexed.
print(chipo.index)

RangeIndex(start=0, stop=4622, step=1)

In [13]:
# 8. Use the value_counts() method on the â€˜item_nameâ€™ column to find the most ordered item.

most_ordered_item = chipo['item_name'].value_counts().idxmax()
print("\nMost ordered item:", most_ordered_item)

Most ordered item: Chicken Bowl

In [14]:
# 9. Find the total number of items ordered by summing the â€˜quantityâ€™ column.
total_items_ordered = chipo['quantity'].sum()
print("Total number of items ordered:", total_items_ordered)

Total number of items ordered: 4972

In [17]:
# 10. Use value_counts() on â€˜choice_descriptionâ€™ to find the most ordered item from this column.
most_ordered_choice = chipo['choice_description'].value_counts().idxmax()
print("Most ordered item:", most_ordered_choice)

Most ordered item: [Diet Coke]

In [24]:
# 11. Convert â€˜item_priceâ€™ to a float datatype using apply() and lambda.
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]) if isinstance(x, str) else x)

In [25]:
# 12. Calculate the total revenue for the dataset by summing the â€˜item_priceâ€™ column.
total_revenue = chipo['item_price'].sum()
print("Total revenue:", total_revenue)

Total revenue: 34500.16

In [26]:
# 13. Find the total number of orders by using the nunique() function on the â€˜order_idâ€™ column.
total_orders = chipo['order_id'].nunique()
print("Total number of orders:", total_orders)

Total number of orders: 1834

In [27]:
# 14. Compute the average order value by dividing the total revenue by the number of orders.
average_order_value = total_revenue / total_orders
print("Average order value:", average_order_value)

Average order value: 18.811428571428575

In [28]:
# 15. Determine the total number of unique items sold using the nunique() function on the â€˜item_nameâ€™ column.
total_unique_items = chipo['item_name'].nunique()
print("Total number of unique items sold:", total_unique_items)

Total number of unique items sold: 50

In [29]:
# ðŸŒŸExercise 2: Filtering & Sorting (Chipo)
# Use the already created dataframe â€˜chipoâ€™ from the previous section.
# Using conditional selection, find the count of products that cost more than $10. 
# Note: the price is listed in the â€˜item_priceâ€™ column.
count_products_above_10 = chipo[chipo['item_price'] > 10]['item_name'].count()
print("Count of products costing more than $10:", count_products_above_10)

Count of products costing more than $10: 1130

In [30]:
# Exercise 3: Grouping (Users)
#Get the dataset from this link and assign it to â€˜usersâ€™.
#Note: You will continue working with â€˜usersâ€™ in XP Gold section.
# Use the groupby() function to find the mean age per occupation.

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
users = pd.read_csv(url, sep='|')

mean_age_per_occupation = users.groupby('occupation')['age'].mean()

print(mean_age_per_occupation)

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [32]:
# ðŸŒŸ Exercise 4: Merge (All_data, All_data_col, Data3)
# Create three DataFrames based on the given raw data 
# (define what the raw data looks like and what data should be included in â€˜data1â€™, â€˜data2â€™, and â€˜data3â€™).
# Note: These DataFrames will be used for merging exercises in the XP Gold section.
    
# Merge the two dataframes â€˜data1â€™ and â€˜data2â€™ along rows using the concat() function and assign it to â€˜all_dataâ€™.

# Merge â€˜data1â€™ and â€˜data2â€™ along columns using concat() and assign it to â€˜all_data_colâ€™.

data1_raw = {
    'ID': [1, 2, 3],
    'Name': ['One', 'Two', 'Three']
}
data1 = pd.DataFrame(data1_raw)

data2_raw = {
    'ID': [4, 5, 6],
    'Name': ['Four', 'Five', 'Six']
}
data2 = pd.DataFrame(data2_raw)

data3_raw = {
    'ID': [7, 8, 9],
    'Name': ['Seven', 'Eight', 'Nine']
}
data3 = pd.DataFrame(data3_raw)

# Merge â€˜data1â€™ and â€˜data2â€™
all_data = pd.concat([data1, data2])

# Merge â€˜data1â€™ and â€˜data2â€™ along columns using concat
all_data_col = pd.concat([data1, data2], axis=1)

print("all_data:")
print(all_data)

print("\nall_data_col:")
print(all_data_col)

all_data:
   ID   Name
0   1    One
1   2    Two
2   3  Three
0   4   Four
1   5   Five
2   6    Six

all_data_col:
   ID   Name  ID  Name
0   1    One   4  Four
1   2    Two   5  Five
2   3  Three   6   Six

In [36]:
# ðŸŒŸ Exercise 5: Deleting (Iris)
# Retrieve the dataset from this link and assign it to â€˜irisâ€™.
# Note: You will be manipulating the â€˜irisâ€™ DataFrame in the XP Gold section.

# Assign appropriate column names to the DataFrame, such as 
# â€˜sepal_lengthâ€™, â€˜sepal_widthâ€™, â€˜petal_lengthâ€™, â€˜petal_widthâ€™, and â€˜speciesâ€™.

# Check if there are any missing values in â€˜irisâ€™ using the isnull() function.


url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
column_names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
iris = pd.read_csv(url, names=column_names)

missing_values = iris.isnull().any()

print("iris:")
print(iris)

print("Missing values:\n")
print(missing_values)

iris:
     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]
Missing values:

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
species         False
dtype: bool

In [24]:
#Exercise 6: Creating Series And DataFrames (Pokemon)
# Create a data dictionary with the following structure, then convert it into a DataFrame and name it â€˜pokemonâ€™:

data = {
    'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp': [45, 39, 44, 45],
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex': ['yes', 'no', 'yes', 'no'],
    'type': ['grass', 'fire', 'water', 'bug']
}
pokemon = pd.DataFrame(data)

column_order = ['name', 'type', 'hp', 'evolution', 'pokedex']
pokemon = pokemon[column_order]

print(pokemon)

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

In [42]:
# Exercise 7: Descriptive Statistics (Baby_names)

# Start by downloading and loading the US Baby Names data into a DataFrame named baby_names.
# Note: You will be working with â€˜baby_namesâ€™ in the XP Gold section.

# Display the first 10 entries using the head method.

# Delete the columns â€˜Unnamed: 0â€™ and â€˜Idâ€™ using the drop method.

import requests
from io import StringIO

url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv"

try:
    response = requests.get(url)
    response.raise_for_status()  # Raise an exception
    data = StringIO(response.text)
       
    baby_names = pd.read_csv(data)
    
    print("First 10 entries:")
    print(baby_names.head(10))

    #There was 404 before
except requests.exceptions.HTTPError as e:
    print(f"Error: {e}")
    print("The provided URL returned a 404 error. Please check the URL or try an alternative source.")
except Exception as e:
    print(f"An error occurred: {e}")

First 10 entries:
   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

In [45]:
# Exercise 8: Handling Time Series Data (Investor_data)
# Start by importing necessary libraries and load the Investor Flow of Funds US data.
# Note: You will continue working with this â€˜investor_dataâ€™ DataFrame in XP Gold section.
# Determine the frequency of the dataset.
# Set â€˜Dateâ€™ as the index of the DataFrame using the set_index method.


url = "https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv"
investor_data = pd.read_csv(url)

print("First rows of investor_data:")
print(investor_data.head())

investor_data['Date'] = pd.to_datetime(investor_data['Date'])

frequency = investor_data['Date'].diff().mode()[0]
print("Frequency of the dataset:", frequency)

investor_data.set_index('Date', inplace=True)

print("investor_data with 'Date' as index:")
print(investor_data.head())

First rows of investor_data:
         Date  Total Equity  Domestic Equity  World Equity  Hybrid  \
0  2012-12-05         -7426            -6060         -1367     -74
1  2012-12-12         -8783            -7520         -1263     123
2  2012-12-19         -5496            -5470           -26     -73
3  2012-12-26         -4451            -4076          -375     550
4  2013-01-02        -11156            -9622         -1533    -158

   Total Bond  Taxable Bond  Municipal Bond  Total
0        5317          4210            1107  -2183
1        1818          1598             219  -6842
2         103          3472           -3369  -5466
3        2610          3333            -722  -1291
4        2383          2103             280  -8931
Frequency of the dataset: 7 days 00:00:00
investor_data with 'Date' as index:
            Total Equity  Domestic Equity  World Equity  Hybrid  Total Bond  \
Date
2012-12-05         -7426            -6060         -1367     -74        5317
2012-12-12         -8783            -7520         -1263     123        1818
2012-12-19         -5496            -5470           -26     -73         103
2012-12-26         -4451            -4076          -375     550        2610
2013-01-02        -11156            -9622         -1533    -158        2383

            Taxable Bond  Municipal Bond  Total
Date
2012-12-05          4210            1107  -2183
2012-12-12          1598             219  -6842
2012-12-19          3472           -3369  -5466
2012-12-26          3333            -722  -1291
2013-01-02          2103             280  -8931