In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep='\t')

In [3]:
print(chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

In [4]:
total_rows = chipo.shape[0]
print("Total number of entries (rows) in 'chipo':", total_rows)

Total number of entries (rows) in 'chipo': 4622

In [5]:
total_columns = chipo.shape[1]
print("Total number of columns in 'chipo':", total_columns)

Total number of columns in 'chipo': 5

In [6]:
print("Column names:")
print(chipo.columns)

Column names:
Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [7]:
print("\nDataFrame Index:")
print(chipo.index)

DataFrame Index:
RangeIndex(start=0, stop=4622, step=1)

In [8]:
most_ordered_item = chipo['item_name'].value_counts().idxmax()
print("\nMost ordered item:", most_ordered_item)

Most ordered item: Chicken Bowl

In [9]:
total_items_ordered = chipo['quantity'].sum()
print("Total number of items ordered:", total_items_ordered)

Total number of items ordered: 4972

In [10]:
most_ordered_choice = chipo['choice_description'].value_counts().idxmax()
print("\nMost ordered item (choice_description):", most_ordered_choice)

Most ordered item (choice_description): [Diet Coke]

In [14]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]) if isinstance(x, str) else x)

In [15]:
print("\nFirst few rows after converting 'item_price' to float:")
print(chipo.head())

First few rows after converting 'item_price' to float:
   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description  item_price
0                                                NaN        2.39
1                                       [Clementine]        3.39
2                                            [Apple]        3.39
3                                                NaN        2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98

In [16]:
total_revenue = chipo['item_price'].sum()
print("Total revenue:", total_revenue)

Total revenue: 34500.16

In [17]:
total_orders = chipo['order_id'].nunique()
print("Total number of orders:", total_orders)

Total number of orders: 1834

In [18]:
average_order_value = total_revenue / total_orders
print("Average order value:", average_order_value)

Average order value: 18.811428571428575

In [19]:
total_unique_items = chipo['item_name'].nunique()
print("Total number of unique items sold:", total_unique_items)

Total number of unique items sold: 50

In [20]:
count_products_above_10 = chipo[chipo['item_price'] > 10]['item_name'].count()
print("Count of products costing more than $10:", count_products_above_10)

Count of products costing more than $10: 1130

In [21]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
users = pd.read_csv(url, sep='|')

mean_age_per_occupation = users.groupby('occupation')['age'].mean()

print(mean_age_per_occupation)

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [22]:
data1_raw = {
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
}
data1 = pd.DataFrame(data1_raw)

data2_raw = {
    'ID': [4, 5, 6],
    'Name': ['David', 'Eve', 'Frank']
}
data2 = pd.DataFrame(data2_raw)

data3_raw = {
    'ID': [7, 8, 9],
    'Name': ['Grace', 'Hannah', 'Isaac']
}
data3 = pd.DataFrame(data3_raw)

all_data = pd.concat([data1, data2])


all_data_col = pd.concat([data1, data2], axis=1)

print("all_data:")
print(all_data)

print("\nall_data_col:")
print(all_data_col)

all_data:
   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
0   4    David
1   5      Eve
2   6    Frank

all_data_col:
   ID     Name  ID   Name
0   1    Alice   4  David
1   2      Bob   5    Eve
2   3  Charlie   6  Frank

In [23]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
column_names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
iris = pd.read_csv(url, names=column_names)

missing_values = iris.isnull().any()

print("iris:")
print(iris)

print("\nMissing values:")
print(missing_values)

iris:
     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

Missing values:
sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
species         False
dtype: bool

In [24]:
data = {
    'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp': [45, 39, 44, 45],
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex': ['yes', 'no', 'yes', 'no'],
    'type': ['grass', 'fire', 'water', 'bug']
}
pokemon = pd.DataFrame(data)

column_order = ['name', 'type', 'hp', 'evolution', 'pokedex']
pokemon = pokemon[column_order]

print(pokemon)

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

In [29]:
import requests
from io import StringIO

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/baby_names.csv"

try:
    response = requests.get(url)
    response.raise_for_status()  # Raise an exception
    data = StringIO(response.text)
       
    baby_names = pd.read_csv(data)
    
    print("First 10 entries:")
    print(baby_names.head(10))

except requests.exceptions.HTTPError as e:
    print(f"Error: {e}")
    print("The provided URL returned a 404 error. Please check the URL or try an alternative source.")
except Exception as e:
    print(f"An error occurred: {e}")

Error: 404 Client Error: Not Found for url: https://raw.githubusercontent.com/justmarkham/DAT8/master/data/baby_names.csv
The provided URL returned a 404 error. Please check the URL or try an alternative source.

In [31]:
import pandas as pd

url = "https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv"
investor_data = pd.read_csv(url)

print("First few rows of investor_data:")
print(investor_data.head())

investor_data['Date'] = pd.to_datetime(investor_data['Date'])

frequency = investor_data['Date'].diff().mode()[0]
print("\nFrequency of the dataset:", frequency)

investor_data.set_index('Date', inplace=True)

print("\ninvestor_data with 'Date' as index:")
print(investor_data.head())

First few rows of investor_data:
         Date  Total Equity  Domestic Equity  World Equity  Hybrid  \
0  2012-12-05         -7426            -6060         -1367     -74
1  2012-12-12         -8783            -7520         -1263     123
2  2012-12-19         -5496            -5470           -26     -73
3  2012-12-26         -4451            -4076          -375     550
4  2013-01-02        -11156            -9622         -1533    -158

   Total Bond  Taxable Bond  Municipal Bond  Total
0        5317          4210            1107  -2183
1        1818          1598             219  -6842
2         103          3472           -3369  -5466
3        2610          3333            -722  -1291
4        2383          2103             280  -8931

Frequency of the dataset: 7 days 00:00:00

investor_data with 'Date' as index:
            Total Equity  Domestic Equity  World Equity  Hybrid  Total Bond  \
Date
2012-12-05         -7426            -6060         -1367     -74        5317
2012-12-12         -8783            -7520         -1263     123        1818
2012-12-19         -5496            -5470           -26     -73         103
2012-12-26         -4451            -4076          -375     550        2610
2013-01-02        -11156            -9622         -1533    -158        2383

            Taxable Bond  Municipal Bond  Total
Date
2012-12-05          4210            1107  -2183
2012-12-12          1598             219  -6842
2012-12-19          3472           -3369  -5466
2012-12-26          3333            -722  -1291
2013-01-02          2103             280  -8931