In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep='\t')

In [3]:
print(chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

In [4]:
total_rows = chipo.shape[0]
print("Total number of entries (rows) in 'chipo':", total_rows)

Total number of entries (rows) in 'chipo': 4622

In [5]:
total_columns = chipo.shape[1]
print("Total number of columns in 'chipo':", total_columns)

Total number of columns in 'chipo': 5

In [6]:
print("Column names:")
print(chipo.columns)

Column names:
Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [7]:
print("\nDataFrame Index:")
print(chipo.index)

DataFrame Index:
RangeIndex(start=0, stop=4622, step=1)

In [8]:
most_ordered_item = chipo['item_name'].value_counts().idxmax()
print("\nMost ordered item:", most_ordered_item)

Most ordered item: Chicken Bowl

In [9]:
total_items_ordered = chipo['quantity'].sum()
print("Total number of items ordered:", total_items_ordered)

Total number of items ordered: 4972

In [10]:
most_ordered_choice = chipo['choice_description'].value_counts().idxmax()
print("\nMost ordered item (choice_description):", most_ordered_choice)

Most ordered item (choice_description): [Diet Coke]

In [14]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]) if isinstance(x, str) else x)

In [15]:
print("\nFirst few rows after converting 'item_price' to float:")
print(chipo.head())

First few rows after converting 'item_price' to float:
   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description  item_price
0                                                NaN        2.39
1                                       [Clementine]        3.39
2                                            [Apple]        3.39
3                                                NaN        2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98

In [16]:
total_revenue = chipo['item_price'].sum()
print("Total revenue:", total_revenue)

Total revenue: 34500.16

In [17]:
total_orders = chipo['order_id'].nunique()
print("Total number of orders:", total_orders)

Total number of orders: 1834

In [18]:
average_order_value = total_revenue / total_orders
print("Average order value:", average_order_value)

Average order value: 18.811428571428575

In [19]:
total_unique_items = chipo['item_name'].nunique()
print("Total number of unique items sold:", total_unique_items)

Total number of unique items sold: 50